@import "~/src/global.scss";

.optional-selection-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
    border-radius: 12px;
    padding: 10px 20px;
    width: 100%;
    @include shadowDrop(0.2);
    @include normalMediumFont();
    font-weight: 600;
    color: #ffffff;
}

.optional-seclction-button-frame {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.optional-selection-checked {
    background-color: #7bf363;
    box-shadow: 0 0 2px #fff inset;
    transition: 0.3s;
}

.optional-selection-unchecked {
    background-color: #fff;
    color: #f75d5d;
    transition: 0.3s;
}