@import "~/src/global.scss";

.small-icon {
    width: 24px;
    height: 24px;
}

.medium-icon {
    width: 42px;
    height: 42px;
}

.large-icon {
    width: 62px;
    height: 62px;
}