@import "~/src/global.scss";

@mixin headerFont {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 24.2px;
    color: $dark-color;
}

@mixin headerSection {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.header-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 500 !important;
}

.header-container {
    background: #fff;
    width: 90%;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    top: 60px;
    right: 60px;

    border-radius: 8px;
    @include shadowDrop(0.2);

    padding: 10px;

    &-left {
        @include headerSection;
    }

    &-right {
        @include headerSection;

        .log-out-text {
            @include headerFont;
            color: $error-color;
            width: 50px;
        }
    }

    .menu-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        transition: 0.3s;
        width: 46px;
        height: 60px;
        border-radius: 6px;

        &:hover {
            background-color: $dark-color;

            .menu-button-text {
                color: $light-color;
            }
        }

        .menu-button-text {
            @include headerFont();
        }
    }

    .menu-button-logout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        transition: 0.3s;
        width: 46px;
        height: 60px;
        border-radius: 6px;

        &:hover {
            background-color: $error-color;

            .log-out-text {
                color: $light-color;
            }
        }

        .log-out-text {
            @include headerFont();
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }


    }
}

a {
    text-decoration: none;
    color: $dark-color;
}