$dark-color: #646464;
$light-color: #ffffff;
$error-color: #fa5c5c;
$yellow-color: #ffff66;

.btn-no-style {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@mixin shadowDrop($shadowInt) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, $shadowInt);
}

@mixin buttonSmall() {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0px 14px;
    border-radius: 6px;
    border-style: none;
    background-color: #ffffff;
    cursor: pointer;
    @include shadowDrop(0.05);
    @include normalFont();
}

@mixin normalFont() {
    color: #4f4f4f;
    font-size: 16px;
}

@mixin normalMediumFont() {
    color: #4f4f4f;
    font-size: 24px;
}

@mixin mediumFont() {
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 600;
}